body {
background: rgb(133,168,168);
font-family: 'Quicksand', sans-serif; } 
<style> 
header {
 text-align: center;
  background: url("https://drive.google.com/file/d/0BxLnshPf32s_cjNjUVBKYzlDMWM/view?usp=sharing");
	background-size: cover; }
</header>

	


	
	</style> 
	
	







</body> 
